DB_CONFIG=postgresql+asyncpg://usuario:password@localhost:5433/vinillosEcommerce
SECRET_KEY=vinilos_2026_x7Kq9pL2
MP_ACCESS_TOKEN=APP_USR-e33b7d2d-cf60-4deb-aeeb-2df8e2061873
FRONT_URL=https://vinilosecommerce.netlify.app
BACK_URL=https://tu-api.onrender.com