DB_CONFIG=postgresql+asyncpg://usuario:password@localhost:5433/vinillosEcommerce
SECRET_KEY=vinilos_2026_x7Kq9pL2
MP_ACCESS_TOKEN=APP_USR-3700281831896017-100922-ce18bf037a64ca718b29f5ae052e9ad5-3753760674
FRONT_URL=https://vinilosecommerce.netlify.app
BACK_URL=https://tu-api.onrender.com